official=false
sport=28015
rport=28016
rweb=True
rpass="something"
host="Server Name|Location|rate|mods info|no or wipe|PVP or PVE"
descr="Server Name Here\n\nuMod server! type /help for more info\nSome more information \nMap Size: something\nPVP with NPC and Events\nNo upkeep, No build tc, friendly players\nNo slow connections, proxy or vpn.\n\nDiscord https://discord.gg/something"
image="https://i.imgur.com/SG9I9D4.png"
url="https://something.something"
identity="Procedural_Map-seed1-size4000"
level="Procedural Map"
seed=1
worldsize=4000
maxplayers=50
radiation=true
stability=false
upkeep=false